.container {
  margin: 0 auto;
  width: 90%;
}

.title {
  color: #0c100f;
}

.title h2 {
  font-size: 40px;
  margin: 5% 0 1% 0;
}

.catalogBtnsContainer {
  margin: 2% 0 4% 0;
}

.catalogBtn {
  cursor: pointer;
  border: none;
  background: transparent;
  border: 1px solid #0c100f;
  border-radius: 2px;
  padding: 10px 15px;
  font-size: clamp(0.875rem, -0.236rem + 1.11vw, 1.5rem);
  transition: all 0.3s ease-in-out;
  margin-right: 10px;
}

.catalogBtn:hover {
  background-color: #0c100f;
  color: #ffffff;
  border-color: #ffffff;
}

.activeBtn {
  background-color: #0c100f;
  color: #ffffff;
  border-color: #ffffff;
}

.gridContainer {
  display: grid;
  grid-template-columns: repeat(4, minmax(200px, 1fr));
  grid-template-rows: auto;
  gap: 25px;
  margin-bottom: 5%;
}

.link {
  padding: 10px;
}

.linkImagesContainer {
  position: relative;
}

.linkImage {
  aspect-ratio: 8/9;
  width: 100%;
  cursor: pointer;
  border-radius: 5px;
  transition: all 0.6s ease;
}

.btnContainer {
  width: 100%;
  position: absolute;
  bottom: 15px;
  display: flex;
  justify-content: center;
  gap: 10px;
  display: none;
}

.btnContainer button {
  cursor: pointer;
  background-color: #0c100f;
  color: #ffffff;
  border: none;
  width: 45%;
  padding: 8px 0;
  transition: all 0.4s ease;
  font-size: clamp(0.938rem, -0.729rem + 1.67vw, 1.875rem);
}

.btnContainer button:hover {
  background-color: #5f6261;
}

.linkImagesContainer:hover .linkImage {
  filter: brightness(70%);
}

.linkImagesContainer:hover .btnContainer {
  display: flex;
}

.title {
  font-size: clamp(1.188rem, 0.076rem + 1.11vw, 1.813rem);
}

.description {
  margin: 10px 0;
  font-size: clamp(1rem, 0.222rem + 0.78vw, 1.438rem);
}

.priceBlock {
  display: flex;
  font-size: clamp(0.938rem, -0.174rem + 1.11vw, 1.563rem);
}

.oldPrice {
  text-decoration: line-through;
  margin-right: 10px;
}

.pagination {
  display: flex;
  justify-content: center;
  margin-bottom: 5%;
}
