.container {
  margin: 0 auto;
  width: 90%;
}

.productBlock {
  display: flex;
  margin-top: 4%;
}

.title {
  font-size: clamp(1.438rem, -0.451rem + 1.89vw, 2.5rem);
  margin-bottom: 3%;
}

.description {
  font-size: clamp(1rem, -0.111rem + 1.11vw, 1.625rem);
  margin-bottom: 3%;
}

.productImage {
  width: 40%;
  margin-right: 40px;
}

.priceAndFeedback {
  font-size: clamp(1rem, -0.333rem + 1.33vw, 1.75rem);
  display: flex;
  justify-content: space-between;
}

.priceBlock {
  display: flex;
}

.oldPrice {
  text-decoration: line-through;
  margin-right: 10px;
}

.feedbackCol {
  display: flex;
  align-items: center;
}

.feedbackCol span {
  text-decoration: underline;
  margin-left: 10px;
}

.buyBtn,
.reserveBtn {
  cursor: pointer;
  width: 100%;
  border: none;
  background-color: #0c100f;
  color: #ffff;
  padding: 10px 0;
  border-radius: 2px;
  font-size: clamp(0.938rem, -0.729rem + 1.67vw, 1.875rem);
  margin-top: 20px;
  transition: all 0.4s ease-in-out;
}

.buyBtn:hover {
  background-color: #5f6261;
}

.reserveBtns {
  display: flex;
  justify-content: space-between;
}

.reserveBtns button {
  width: 48%;
  background-color: transparent;
  color: #0c100f;
  border: 1px solid #0c100f;
}

.reserveBtns button:hover {
  background-color: #0c100f;
  color: #ffff;
}

.tabsContainer {
  display: flex;
  margin-top: 20px;
}

.tab {
  width: 50%;
  background: transparent;
  border: none;
  cursor: pointer;
  padding: 10px 15px;
  font-size: 1rem;
  font-size: clamp(1rem, -0.556rem + 1.56vw, 1.875rem);
  transition: all 0.3s ease-in-out;
  border-bottom: 2px solid rgb(174, 171, 171);
}

.activeTab {
  border-bottom: 2px solid #000;
}

.tabContent {
  width: 400px;
  margin-top: 10px;
  font-size: clamp(1rem, -0.778rem + 1.78vw, 2rem);
  color: #333;
}

.sliderTitleContainer {
  display: flex;
  margin: 5% 0 0 20px;
}

.titleSlider {
  font-size: clamp(1.875rem, -0.347rem + 2.22vw, 3.125rem);
  margin-right: 20px;
}

.sliderBtns {
  cursor: pointer;
  border: none;
  background: transparent;
  border: 1px solid #0c100f;
  border-radius: 5px;
  margin-left: 10px;
  padding: 10px 15px;
  font-size: clamp(0.875rem, -0.236rem + 1.11vw, 1.5rem);
  transition: all 0.4s ease-in-out;
}

.sliderBtns:hover {
  background-color: #0c100f;
  color: #ffffff;
  border-color: #ffffff;
}

.activeBtn {
  background-color: #0c100f;
  color: #ffffff;
  border-color: #ffffff;
}

.feedbackBlock {
  display: flex;
  justify-content: space-between;
  margin-top: 10%;
}

.feedbackLeftBlock {
  width: 20%;
  font-size: clamp(1rem, -0.222rem + 1.22vw, 1.688rem);
}

.feedbackRightBlockContainer {
  width: 75%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.feedbackRightBlock {
  width: 45%;
  display: flex;
  flex-direction: column;
  font-size: clamp(1rem, -0.222rem + 1.22vw, 1.688rem);
  margin-bottom: 30px;
}

.sendFeedback {
  cursor: pointer;
  text-decoration: underline;
  margin-top: 10px;
}

.feedbackInfo {
  display: flex;
  margin: 10px 0;
}

.feedbackInfo svg {
  margin: 0 5px;
}

@media (max-width: 1024px) {
  .productBlock {
    margin: 0 auto;
    width: 400px;
    max-width: 90%;
    flex-direction: column;
  }

  .productImage {
    width: 100%;
  }

  .mobilePrice {
    margin: 5% 0;
  }

  .sliderTitleContainer {
    flex-direction: column;
  }

  .sliderBtns {
    margin: 15px 10px 0 0;
  }

  .tabContent {
    width: auto;
  }

  .feedbackBlock,
  .feedbackRightBlockContainer {
    flex-direction: column;
    align-items: center;
  }

  .feedbackRightBlockContainer,
  .feedbackLeftBlock {
    width: 90%;
  }

  .feedbackRightBlock {
    width: 100%;
  }

  .feedbackLeftBlock {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    margin-bottom: 5%;
  }

  .mobileFeedback {
    display: flex;
  }

  .mobileFeedback svg {
    margin: 0 5px;
  }
}
