.mainBg {
  aspect-ratio: 13/5;
  background: no-repeat center/100% 100% url(../../../public/mainBg.png);
  display: flex;
  align-items: center;
  color: #fff;
}

.container {
  margin: 0 auto;
  width: 90%;
}

.mainBlock {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.leftBlockBg h3 {
  font-size: clamp(2.5rem, -1.944rem + 4.44vw, 5rem);
}

.leftBlockBg p {
  font-size: clamp(0.813rem, -0.188rem + 1vw, 1.375rem);
}

.leftDescription {
  margin: 20px 0;
}

.rightBlock {
  cursor: pointer;
  width: 24%;
  padding: 10px;
  background-color: #fff;
  border-radius: 10px;
  color: #000;
}

.title {
  font-size: clamp(0.938rem, 0.374rem + 0.88vw, 1.75rem);
  font-weight: 700;
  padding: 10px 0;
}

.description {
  font-size: clamp(0.813rem, 0.379rem + 0.68vw, 1.438rem);
}

.rightBlock img {
  aspect-ratio: 1;
  width: 100%;
  border-radius: 10px;
}

.mainBtn {
  cursor: pointer;
  border: none;
  background-color: #fff;
  color: #0c100f;
  padding: 10px 20px;
  transition: all 0.4s ease-in-out;
  font-size: clamp(0.813rem, -0.854rem + 1.67vw, 1.75rem);
}

.mainBtn:hover {
  background-color: #bababa;
}

.prriceBlock {
  display: flex;
  font-size: clamp(0.813rem, 0.379rem + 0.68vw, 1.438rem);
  padding: 10px 0;
}

.oldPrice {
  margin-right: 10px;
  text-decoration: line-through;
  color: #bababa;
}

.sliderTitleContainer {
  display: flex;
  margin: 5% 0 0 20px;
}

.titleSlider {
  font-size: clamp(1.875rem, -0.347rem + 2.22vw, 3.125rem);
  margin-right: 20px;
}

.sliderBtns {
  cursor: pointer;
  border: none;
  background: transparent;
  border: 1px solid #0c100f;
  border-radius: 5px;
  margin-left: 10px;
  padding: 10px 15px;
  font-size: clamp(0.875rem, -0.236rem + 1.11vw, 1.5rem);
  transition: all 0.4s ease-in-out;
}

.sliderBtns:hover {
  background-color: #0c100f;
  color: #ffffff;
  border-color: #ffffff;
}

.activeBtn {
  background-color: #0c100f;
  color: #ffffff;
  border-color: #ffffff;
}

.mainBgWrapper {
  background-color: #0c100f;
  margin-bottom: 20px;
  padding: 30px 0;
}

.mainTextContainer {
  text-align: center;
  color: #ffffff;
}

.mainUpText {
  font-size: clamp(2.5rem, 0.278rem + 2.22vw, 3.75rem);
}

.mainDownText {
  font-size: clamp(1.438rem, 0.326rem + 1.11vw, 2.063rem);
}

.infoBlock {
  display: flex;
  align-items: stretch;
  margin-top: 7%;
}

.infoEndBlock {
  justify-content: flex-end;
}

.firstCol {
  width: 40%;
  color: #ffffff;
  display: flex;
  flex-direction: column;
  margin-right: 20px;
}

.infoTitle {
  font-size: clamp(1.125rem, 0.171rem + 1.49vw, 2.5rem);
}

.infoDescription {
  margin: 20px 0;
  font-size: clamp(0.5rem, -0.15rem + 1.02vw, 1.438rem);
}

.firstCol img {
  width: 100%;
  object-fit: cover;
  flex-grow: 1;
}

.secondCol {
  width: 40%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.secondCol img {
  width: 100%;
}

.downMainBg {
  aspect-ratio: 15/5;
  background: no-repeat center/ 100% 100% url(../../../public/downMainBg.png);
  display: flex;
  align-items: center;
  margin: 5% 0 2% 0;
}

.downLeftBlockBg {
  color: #ffffff;
}

.productImage {
  cursor: pointer;
  width: 20%;
  border-radius: 5px;
}

.descriptionDown {
  margin-bottom: 20%;
}

.answersBlock {
  margin: 0 auto;
  width: 65%;
}

.answersBlock h3 {
  font-size: clamp(1.688rem, -1.424rem + 3.11vw, 3.438rem);
  text-align: center;
  margin-bottom: 5%;
}

.infoTextBlock {
  display: flex;
  flex-direction: column;
  padding: 20px 0;
  border-bottom: 2px solid #9da3a1;
}

.questionBlock {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.infoTextBlock:last-child {
  border: none;
  margin-bottom: 20px;
}

.answer {
  margin-top: 20px;
  font-size: clamp(0.875rem, 0.183rem + 0.96vw, 1.688rem);
}

.infoTextBlock h4 {
  font-size: clamp(1rem, -0.041rem + 1.63vw, 2.5rem);
}

.infoTextBlock svg {
  cursor: pointer;
  font-size: clamp(1.25rem, -0.972rem + 2.22vw, 2.5rem);
  transition: all 0.5s ease;
}

.infoTextBlock svg:hover {
  color: #a8a3a3;
}

@media (max-width: 1024px) {
  .mainBgWrapper {
    background-color: transparent;
  }

  .mainBg {
    aspect-ratio: 6/5;
    background: no-repeat center/ 100% 100%
      url(../../../public/mobileMainBg.png);
  }

  .mainBlock {
    flex-direction: column;
    align-items: flex-start;
  }

  .rightBlock {
    width: 500px;
    max-width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 10%;
  }

  .rightBlock img {
    width: 35%;
    margin-right: 10px;
  }

  .leftBlockBg h3 {
    font-size: 30px;
  }

  .leftBlockBg p {
    font-size: 12px;
  }

  .sliderTitleContainer {
    flex-direction: column;
    align-items: center;
  }

  .titleSlider {
    margin: 10px 0;
    font-size: 26px;
  }

  .infoBlock {
    flex-direction: column;
    align-items: center;
  }

  .firstCol {
    margin: 0;
  }

  .mainTextContainer {
    color: #0c100f;
  }

  .firstCol,
  .secondCol {
    width: 600px;
    max-width: 90%;
    color: #0c100f;
  }

  .infoTitle {
    font-size: 20px;
  }

  .infoDescription {
    font-size: 11px;
    line-height: 18px;
  }

  .secondCol {
    flex-direction: column-reverse;
  }

  .mobileInfoImage {
    margin-bottom: 15px;
  }

  .downMainBg {
    aspect-ratio: 9/9;
    background: no-repeat center/ 100% 100%
      url(../../../public/mobileDownMainBg.png);
  }

  .mobileMain {
    display: flex;
    align-items: center;
  }

  .productImage {
    width: 40%;
  }

  .mobileMainBtn {
    margin-top: 10%;
    width: 65%;
  }

  .answersBlock {
    width: 90%;
  }
}

@media (max-width: 500px) {
  .mainBg {
    aspect-ratio: 4/5;
  }

  .downMainBg {
    aspect-ratio: 6.5/9;
  }

  .mobileMainBtn {
    width: 100%;
  }
}

@media (max-width: 400px) {
  .mainBg {
    aspect-ratio: 4/5;
  }

  .sliderBtns {
    font-size: 12px;
  }
}
