.container {
  margin: 0 auto;
  width: 90%;
  padding: 20px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

a {
  color: #0c100f;
  text-decoration: none;
  transition: color 0.3s ease-in-out;
}

.container a:hover {
  color: rgb(138, 100, 100);
}

.logo {
  font-size: clamp(1.563rem, -0.938rem + 2.5vw, 3.125rem);
  font-weight: 700;
}

.navigationContainer {
  width: 35%;
  display: flex;
  justify-content: space-between;
}

.navigationContainer a p {
  font-size: clamp(1rem, -1.9rem + 2.9vw, 2.813rem);
}

.imagesContainer {
  width: 13%;
  display: flex;
  justify-content: space-between;
}

.imagesContainer a svg {
  font-size: clamp(1.25rem, -0.192rem + 1.92vw, 2.813rem);
}
